body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  display: flex;
  justify-content: center;
  text-align:center;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
}

input.placeholder {
  text-align: center;
  justify-content: center;
}



select{
  display: flex;
  justify-content: center;
  text-align-last: center;
  align-items: center;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
  color: red;
}

input.forminput{
  display: "flex";
  justify-content: "center";
  align-items: center;
}

.pin-output{
display: "flex";
justify-content: "center";
align-items: center;
}

input#username-signup-input{
  display: "flex";
  justify-content: "center";
  align-items: center;
}